<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{60} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="org.flywaydb" level="WARN"/>
  <logger name="init-*" level="WARN"/>
  <logger name="pg-*" level="WARN"/>
  <logger name="org.testcontainers" level="INFO"/>
  <logger name="com.github.dockerjava" level="WARN"/>

  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>

</configuration>
